<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="nl"
            id="org.modelingvalue.nelumbo.lsp.eclipse.nelumbo"
            name="Nelumbo Source"
            priority="normal">
      </content-type>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.modelingvalue.nelumbo.lsp.eclipse.nelumbo"
            editorId="org.eclipse.ui.genericeditor.GenericEditor"/>
   </extension>
   <extension point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.modelingvalue.nelumbo.lsp.eclipse.NelumboStreamConnectionProvider"
            id="org.modelingvalue.nelumbo.lsp.eclipse.server"
            label="Nelumbo Language Server"
            singleton="true">
      </server>
      <contentTypeMapping
            contentType="org.modelingvalue.nelumbo.lsp.eclipse.nelumbo"
            id="org.modelingvalue.nelumbo.lsp.eclipse.server"
            languageId="nelumbo">
      </contentTypeMapping>
   </extension>
   <extension point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.modelingvalue.nelumbo.lsp.eclipse.NelumboReconciler"
            contentType="org.modelingvalue.nelumbo.lsp.eclipse.nelumbo"/>
   </extension>
</plugin>
